@using EntityLayer.Concrete
@model List<Reservation>

@{
    ViewBag.Title = "MyCurrentReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Aktif Rezervasyonlarım</h2>
@if (!Model.Any())
{
    <span>Aktif Rezervasyon Bulunamadı...</span>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Lokasyon</th>
            <th>Kişi Sayısı</th>
            <th>Rezerasyon Tarihi</th>
            <th>Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ReservationID</td>
                <td>@item.Destination.City</td>
                <td>@item.PersonCount</td>
                <td>@item.ReservationDate</td>
                <td>@item.Status</td>
            </tr>
        }
    </table>
}
